@model Empal.Models.Employee

<h2>Додати нового співробітника</h2>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post))
{
    @Html.ValidationSummary()

        <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Patronymic)
        @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control" })
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Birthday)
        @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Department)
        @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Department)
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Position)
        @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Salary)
        @Html.TextBoxFor(model => model.Salary, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="form-group">
            <input type="submit" value="Зберегти" class="btn btn-primary" />
        @Html.ActionLink("Назад до списку", "Index", null, new { @class = "btn btn-default" })
        </div>
}
